*.DS_Store
*~
*.code-workspace
*.o
.deps
log/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
rkdeveloptool
rkdeveloptool.exe
rkdeveloptool*bz2
tests/cpp/unit_tests
tests/cpp/unit_tests.exe
tests/cpp/*.dSYM/
